[aria-label="Hide Member List"] {
  display: none;
}
[aria-label="Notification Settings"] {
  display: none;
}
[aria-label="Send a gift"] {
  display: none;
}
[aria-label="Open sticker picker"] {
  display: none;
}
[aria-label="Help"] {
  display: none;
}
[aria-label="Explore Discoverable Servers"] {
  display: none;
}
[aria-label="Buy Boosts to help unlock Level 3 perks!"] {
  display: none;
}
[aria-label="Buy Boosts to help unlock Level 2 perks!"] {
  display: none;
}
[aria-label="Buy Boosts to help unlock Level 1 perks!"] {
  display: none;
}
